@media (min-width: 767px) {
    section {
        margin: auto;
    }
    article {
        margin-top: 40px;
    }
}

.btn-glyphicon {
    padding:8px;
    background:#ffffff;
    margin-right:4px;
}
.icon-btn {
    padding: 1px 15px 3px 2px;
    border-radius:50px;
}