<div class="container">
  <section class="row">
    <article>
      <header>
        <h1>Liste de toutes les options</h1>
      </header>
      <div class="table-responsive">
        <table class="table table-hover">
          <thead>
          <tr>
            <th>Commentaire</th>
            <th>Professeur</th>
            <th>Note totale attribuée</th>
          </tr>
          </thead>
          <tbody *ngFor="let option of options">
          <tr>
            <td>
              {{ option.nom }}
            </td>
            <td>
              {{ option.prof }}
            </td>
            <td>
              Note moyenne
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </article>
  </section>
</div>

<button color="accent">
  <i class="material-icons">add</i>
</button>