
<form novalidate  #f="ngForm">
  <div class="form-group col-md-6">
    <label for="nom">Nom de l'option</label>
    <input type="text" class="form-control" id="nom" name="nom" [(ngModel)]="model.nom" required/>
  </div>
  <div class="form-group col-md-6">
    <label for="prof">Professeur</label>
    <input type="text" class="form-control" id="prof" name="prof" [(ngModel)]="model.prof" required/>
  </div>
  <div class="form-group p-15">
    <div class="form-group ">
    <label for="description">Description</label>
    <textarea class="form-control" rows="5" id="description" name="description" [(ngModel)]="model.description" required></textarea>
  </div> </div>
  <button class="btn btn-primary pull-right" type="submit" (click)="submit(f.value)">Ajouter <span color="white" class="glyphicon glyphicon-ok"></span></button>
</form>
