<article>
  <header>
    <h2>Liste des commentaires et notes</h2>
  </header>
  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
      <tr>
        <th>Professeur</th>
        <th>Interêt de l'option</th>
        <th>Difficulté de compréhension</th>
        <th>Difficulté de l'examen</th>
      </tr>
      </thead>
      <tbody *ngFor="let note of _note">
      <tr>
        <td>
          {{ note.note_prof }}/5
        </td>
        <td>
          {{ note.note_option }}/5
        </td>
        <td>
          {{ note.note_comprehension }}/5
        </td>
        <td>
          {{ note.note_difficulte_examen }}/5
        </td>
      </tr>
      <tr><td>
        {{ note.commentaire }}
      </td>
      </tr>
      </tbody>
    </table>
  </div>
</article>