<div class="container">
<section class="row">
  <article>
    <header>
      <h1>{{_option.nom}}</h1>
    </header>
    <div>
      <h2>Description</h2>
      <div class="col-sm-10">{{_option.description}}</div>
      <div class="col-sm-2">{{_option.prof}}</div>
    </div>
  </article>
  <article>
    <header>
      <h2>Donnez votre avis</h2>
    </header>
    <div>
      <!--<form #f="ngForm" (ngSubmit)="onSubmit(f.value)">
        <div class="form-group">
            <label for="comentaire">Votre commentaire</label>
          <input type="text" class="form-control" id="comentaire" name="comentaire" [(ngModel)]="commentaire" required/>
        </div>
      </form>
        <button mat-button color="primary" type="submit" (click)="add(f.value)">Valider</button>-->
    </div>
  </article>
  <nto-note></nto-note>
</section>
</div>